---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
}

const {
	title = "TGC • Développeur web, mobile et logiciel",
	description = "Développement de solutions web, mobiles et logicielles sur mesure. Plus de 25 ans d'expérience au service de vos projets digitaux.",
	image = "/images/og-cover.jpg",
	url="https://infotgc.fr"
	} = Astro.props;

const absoluteImage = image.startsWith("http")
  ? image
  : `${url}${image}`;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description}>
		<meta name="theme-color" content="#F8F6F1"/>
		<meta name="author" content="Thierry Gauthier">
		<meta name="robots" content="index, follow">

		<title>{title}</title>

		<link rel="canonical" href={url}>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
		<link rel="manifest" href="/manifest.webmanifest" />

		<meta property="og:type" content="website">
		<meta property="og:site_name" content="TGC">
		<meta property="og:title" content={title}>
		<meta property="og:description"	content={description}>
		<meta property="og:url"	content={url}>
		<meta property="og:image" content={absoluteImage}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:image:type" content="image/jpeg">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={absoluteImage}>

		<script type="application/ld+json" set:html={JSON.stringify({
		"@context": "https://schema.org",
		"@type": "ProfessionalService",

		name: "TGC",

		url: url,

		logo: `${url}/images/logo.png`,

		image: `${url}/images/og-cover.jpg`,

		description,

		email: "contact@infotgc.fr",

		areaServed: "France",

		serviceType: [
		  "Développement web sur mesure",
		  "Développement d'applications mobiles",
		  "Développement de logiciels métier",
		  "Maintenance et évolution d'applications"
		],

		knowsAbout: [
		  "Développement web",
		  "Applications mobiles",
		  "Développement de logiciels métier",
		  "Architecture logicielle",
		  "Maintenance applicative",
  		  "Modernisation d'applications"
		],

		sameAs: [
			"https://www.linkedin.com/in/tgc-developpement/"
		],

		founder: {
			"@type": "Person",
			name: "Thierry Gauthier"
		}
		})}/>

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>